<%= render "shared/header"%>

<div class="container-fluid">
  <div class="row">

  <%= render "shared/nav-bar"%>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <%= render "shared/menus_header" %>

      <%# メイン画面の内容部分 %>
      <%= form_with model: @menu, local: true do |f| %>
        <div>
          <%= f.label :title %>
          <%= f.text_field :title, placeholder: '例）ハンバーグ', autofocus: true %>
        </div>
        <div>
          <%= f.label :amount %>
          <%= f.text_field :amount, placeholder: '例）300' %>

          <%= f.label :unit %>
          <%= f.text_field :unit, placeholder: '例）個, g, mL ' %>
        </div>
        <div>
          <%= f.label :calorie %>
          <%= f.text_field :calorie, placeholder: '例）450' %>kcal
        </div>
        <div>
          <%= f.label :bar_code %>
          <%= f.text_field :bar_code, placeholder: '例）0123456789' %>
        </div>
        <div class="image-selects">
          <p>
          クリックしてファイルをアップロード
          </p>
          <%= f.label :images %>
          <%= f.file_field :images, name: 'menu[images][]', id:"menu-image" %>
        </div>
          <%# JavaScriptによる画像挿入用要素 %>
          <div id="image-list"></div>
        <div>
        <div>
          <%= f.submit '再登録する' %>
        </div>
      <% end %>
      <%# //メイン画面の内容部分 %>
  </div>
</div>

