<%= render "shared/header"%>
  <div class="container-fluid">
    <div class="row">
      <%= render "shared/nav-bar"%>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%= render "shared/menus_header" %>
        <%# メイン画面の内容部分 %>
        <%= render "shared/menu_list" %>
        <h2>メニュー表</h2>
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>メニュー名</th>
                <th>分量</th>
                <th>カロリー</th>
              </tr>
            </thead>
            <tbody>
            <% @menus.each do |menu| %>
              <tr>
                <td><%= link_to menu.title, menu_path(menu.id), class:"link-text-color td-none" %></td>
                <td><%= menu.amount %> <%= menu.unit %></td>
                <td><%= menu.calorie %> kcal</td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <%# //メイン画面の内容部分 %>
      </main>
    </div>
  </div>
<%= render "shared/footer"%>
