<h1>メニュー詳細ページ</h1>

メニュー名：<%= @menu.title %><br>
分量：<%= @menu.amount %>（<%= @menu.unit %>）<br>
カロリー：<%= @menu.calorie %>kcal<br>

<div class="whole">
  <% @menu.images.each do |image|%>
    <div><%= image_tag image.variant(resize_to_fill:[150, 150]), class:'images' %></div>
  <% end %>
</div>
<%= link_to '編集する', edit_menu_path(@menu.id) %>
<%= link_to '削除する', menu_path(@menu.id), method: :delete %>

<%# 基準がまだ登録されていない場合に表示 %>
<% if Standard.where(user_id: current_user.id, menu_id: @menu.id) == []%>
  <h3><%= link_to 'Fokus! 基準を登録する', new_menu_standard_path(@menu.id) %></h3>
<% end %>
<%# /基準がまだ登録されていない場合に表示 %>

<p><%= link_to '実績を登録する', new_menu_intake_path(@menu.id) %></p>
<p><%= link_to 'メニュー一覧へ戻る', menus_path %></p>