<%= render "shared/header"%>

  <div class="container-fluid">
    <div class="row">

      <%= render "shared/nav-bar"%>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <%= render "shared/standards_header" %>

        <h2>メニュー表</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>メニュー名</th>
                <th>大盛り</th>
                <th>普通</th>
                <th>小盛り</th>
                <th>その他</th>
              </tr>
            </thead>
            <tbody>
            <% unless @standards == []%>
              <% @cal_results.each do |result| %>
                <tr>
                  <td>
                    <%= link_to result[:title], menu_standard_path(result[:menu_id], result[:id]) %>
                  </td>
                  <td>
                    <%= "#{result[:large_amount]}(#{result[:unit]})"%>
                    <%= result[:large_cal] %>kcal
                  </td>
                  <td>
                    <%= "#{result[:medium_amount]}(#{result[:unit]})"%>
                    <%= result[:medium_cal] %>kcal
                  </td>
                  <td>
                    <%= "#{result[:small_amount]}(#{result[:unit]})"%>
                    <%= result[:small_cal] %>kcal
                  </td>
                  <td>other</td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<%= render "shared/footer"%>