<%= render "shared/header"%>

<div class="container-fluid">
  <div class="row">

  <%= render "shared/nav-bar"%>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <%= render "shared/standards_header" %>

      <%# メイン画面の内容部分 %>
      <div class="container-fluid">

        <p class="fs-3 mx-auto p-3" style="width: 200px;">
        <%= @menu.title %>
        </p>
        <div class="menu-list">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
          <% @menu.images.each do |image|%>
            <%= image_tag image.variant(resize_to_fill:[150, 150]), class:'images' %>
          <% end %>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 gx-3">

              <div class="col">
              ここに大盛りの選択ボタン
              </div>

          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 gx-3">
            <div class="row col justify-content-center">
              <div class="col">
              ここに普通盛りの選択ボタン
              </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 gx-3">
            <div class="row col justify-content-center">
              <div class="col">
              ここに小盛りの選択ボタン
              <%= @amount_cal[0] %>
              <%= @amount_cal[4] %>
              </div>
            </div>
          </div>
        </div>
        <%# <div class="row row-cols-1 row-cols-sm-2 g-0">
          <div class="col justify-content-between align-items-center">
            <div class="btn-group">
            </div>
          </div>
        </div> %>
      </div>
    </main>
  </div>
</div>

<%= render "shared/footer"%>

<h1><%= @menu.title%>の基準登録ページ</h1>

<% unless Standard.where(user_id: current_user.id, menu_id: @menu.id) == [] %>
  <div>
    すでに基準が登録されています
  </div>
<% else %>
  <%= form_with model: [@menu, @standard], local: true do |f| %>
  <%# 大盛り、普通、小盛りを定義 %>
  <% value_1 = @menu.amount / 3 %>
  <% value_2 = @menu.amount / 2 %>
  <% value_3 = @menu.amount %>
  <% value_4 = @menu.amount * 2 %>
  <% value_5 = @menu.amount * 3 %>
  <% value_n = "任意入力の値" %>
  <%# /大盛り、普通、小盛りを定義 %>

    <div>
      <%= f.label :large %>
      <%= f.radio_button :large, :"#{value_5}" %><%= value_5 %><%= @menu.unit %>
      <%= f.radio_button :large, :"#{value_4}" %><%= value_4 %><%= @menu.unit %>
      <%= f.radio_button :large, :"#{value_3}" %><%= value_3 %><%= @menu.unit %>
      <%= f.radio_button :large, :"#{value_2}" %><%= value_2 %><%= @menu.unit %>
      <%= f.radio_button :large, :"#{value_1}" %><%= value_1 %><%= @menu.unit %>
      <%= f.radio_button :large, :"#{value_n}" %>
      <%#= f.text_field :large %>その他
      <%= @menu.unit %>
    </div>
    <div>
      <%= f.label :medium %>
      <%= f.radio_button :medium, :"#{value_5}" %><%= value_5 %><%= @menu.unit %>
      <%= f.radio_button :medium, :"#{value_4}" %><%= value_4 %><%= @menu.unit %>
      <%= f.radio_button :medium, :"#{value_3}" %><%= value_3 %><%= @menu.unit %>
      <%= f.radio_button :medium, :"#{value_2}" %><%= value_2 %><%= @menu.unit %>
      <%= f.radio_button :medium, :"#{value_1}" %><%= value_1 %><%= @menu.unit %>
    </div>
    <div>
      <%= f.label :small %>
      <%= f.radio_button :small, :"#{value_5}" %><%= value_5 %><%= @menu.unit %>
      <%= f.radio_button :small, :"#{value_4}" %><%= value_4 %><%= @menu.unit %>
      <%= f.radio_button :small, :"#{value_3}" %><%= value_3 %><%= @menu.unit %>
      <%= f.radio_button :small, :"#{value_2}" %><%= value_2 %><%= @menu.unit %>
      <%= f.radio_button :small, :"#{value_1}" %><%= value_1 %><%= @menu.unit %>
    </div>
    <div>
      <%= f.submit '登録する' %>
    </div>
  <% end %>
<% end %>