<h1><%=@standard.user.nickname %>さん専用<br/>
<%= @standard.menu.title %>の基準詳細ページ</h1>
  <%# 変数の定義 %>
    <% menu_cal = @standard.menu.calorie %>
    <% menu_amount = @standard.menu.amount %>
    <% stn_large = @standard.large %>
    <% stn_medium = @standard.medium %>
    <% stn_small = @standard.small %>
  <%#// 変数の定義 %>
<div>
  大盛り：<%= @standard.large %>（<%= @standard.menu.unit %>）
  <%= menu_cal * stn_large / menu_amount %>kcal<br>
  普通：<%= @standard.medium %>（<%= @standard.menu.unit %>）
  <%= menu_cal * stn_medium / menu_amount %>kcal<br>
  小盛り：<%= @standard.small %>（<%= @standard.menu.unit %>）
  <%= menu_cal * stn_small / menu_amount %>kcal<br>
</div>

<%= link_to '編集する', edit_menu_standard_path(@standard.menu_id, @standard.id) %>
<%= link_to '削除する', menu_standard_path(@standard.menu_id, @standard.id), method: :delete %>
<%= link_to '基準一覧に戻る', standards_path %>
