<%= render "shared/header"%>

<div class="container-fluid">
  <div class="row">

  <%= render "shared/nav-bar"%>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <%= render "shared/standards_header" %>

      <%# メイン画面の内容部分 %>
      <div>
      <%= @standard.menu.title %>の基準が更新されました。<br>
      <%= link_to '基準一覧ページ', standards_path %>
      <div>
      <%# //メイン画面の内容部分 %>
  </div>
</div>

<%= render "shared/footer"%>