<%= render "shared/header"%>

<div class="container-fluid">
  <div class="row">

    <%= render "shared/nav-bar"%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <%= render "shared/intakes_header" %>
    <%# メイン画面の内容部分 %>
      <%# グラフ表示 %>
      <div>
      <%= column_chart Graph.group(:date).sum(:calorie), colors: ["coral"], xtitle: "日付", ytitle: "kcal", stacked: true, suffix: " kcal", thousands: ",", empty: "グラフ作成ボタンを押してください" %>
        <% if Graph.all == [] %>
        <div class="d-flex justify-content-center col my-4">
          <%= link_to 'グラフ作成', graphs_path, method: :post, class: "btn btn-sm btn-primary btn-lg fs-3 w-50" %>
        </div>
        <% end %>
      </div>
      <%# //グラフ表示 %>        
      <h2>食事履歴一覧</h2>
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>選択</th>
              <th>日付</th>
              <th>時間帯</th>
              <th>メニュー名</th>
              <th>感覚量</th>
              <th>分量</th>
              <th>カロリー</th>
              <th>other</th>
            </tr>
          </thead>
          <tbody>
          <% @intakes.each do |intake| %>
            <tr>
              <td>
                <div class="btn-group">
                  <%= link_to '編集', edit_menu_intake_path(intake.menu_id, intake.id), class: "btn btn-sm btn-outline-light" %>
                  <%= link_to '削除', menu_intake_path(intake.menu_id, intake.id), method: :delete, class: "btn btn-sm btn-outline-light" %>
                  <% unless @standards.where(menu_id: intake.menu_id) == [] %>
                    <%= link_to '詳細', menu_intake_path(intake.menu_id, intake.id), class: "btn btn-sm btn-outline-light" %>
                  <% end %>
                </div>
              </td>
              <td>
                <%= intake.date %>
              </td>
              <td>
                <%= Timing.find(intake.timing_id).name %>
              </td>
              <td>
                <%= intake.menu.title %>
              </td>
              <td>
                <%= @intake_value = Value.find(intake.value_id).name %>
              </td>
              <td>
                <% if @standards.where(menu_id: intake.menu_id) == [] %>
                ---
                <% else %>
                  <%# 変数の定義 %>
                    <% menu_cal = intake.menu.calorie %>
                    <% menu_amount = intake.menu.amount %>
                    <% standard = @standards.where(menu_id: intake.menu_id) %>    
                    <% stn_large = standard[0].large %>
                    <% stn_medium = standard[0].medium %>
                    <% stn_small = standard[0].small %>
                  <%#// 変数の定義 %>
                    <% if @intake_value == '多め' %>
                      <%= stn_large %>
                    <% elsif @intake_value == '普通' %>
                      <%= stn_medium %>
                    <% elsif @intake_value == '少なめ' %>
                      <%= stn_small %>
                    <% else %>
                      任意の量
                    <% end %>
                  <%= intake.menu.unit %>
                <% end %>
              </td>
              <td>
                <% if @standards.where(menu_id: intake.menu_id) == [] %>
                ---
                <% else %>
                  <% if @intake_value == '多め' %>
                    <%= menu_cal * stn_large / menu_amount %>
                  <% elsif @intake_value == '普通' %>
                    <%= menu_cal * stn_medium / menu_amount %>
                  <% elsif @intake_value == '少なめ' %>
                    <%= menu_cal * stn_small / menu_amount %>
                  <% else %>
                    任意の量
                  <% end %>
                kcal
                <% end %>
              </td>
              <td>
                <% if @standards.where(menu_id: intake.menu_id) == [] %>
                  <%= "*#{intake.menu.title}の基準は登録されていません(計算対象外です)。"%><br>
                  <%= link_to "#{intake.menu.title}の基準を登録する",new_menu_standard_path(intake.menu_id), class:"td-none"%> <br>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%# 日毎のカロリー計算 %>
        <div>
          <h2>一日毎のカロリー合計</h2>
          <% days_ary = [] %>
          <% cals_ary = [] %>
          <% day_cal = 0 %>
          <% one_cal = 0 %>

          <% @intakes.each_with_index do |intake, i| %>
            <% @intake_value = Value.find(intake.value_id).name %>

            <% unless @standards.where(menu_id: intake.menu_id) == [] %>
                <%# 変数の定義 %>
                  <% menu_cal = intake.menu.calorie %>
                  <% menu_amount = intake.menu.amount %>
                  <% standard = @standards.where(menu_id: intake.menu_id) %>    
                  <% stn_large = standard[0].large %>
                  <% stn_medium = standard[0].medium %>
                  <% stn_small = standard[0].small %>
                <%#// 変数の定義 %>
                <%# カロリーの計算 %>
                  <% if @intake_value == '多め' %>
                    <% one_cal = menu_cal * stn_large / menu_amount %>
                  <% elsif @intake_value == '普通' %>
                    <% one_cal = menu_cal * stn_medium / menu_amount %>
                  <% elsif @intake_value == '少なめ' %>
                    <% one_cal = menu_cal * stn_small / menu_amount %>
                  <% else %>
                    任意の量
                  <% end %>
                <%#// カロリーの計算 %>

                <%# ary配列に今回のintakeの日付が入っていない場合 %>
              <% unless days_ary.include?(intake.date) %>
                <%# 一番最初の例外処理 %>
                <% if days_ary == [] %>
                  <% days_ary << intake.date %>
                  <% day_cal = 0 %>
                  <% day_cal += one_cal %>
                <%# //一番最初の例外処理 %>
                <% else %>
                  <% days_ary << intake.date %>
                  <% cals_ary << day_cal %>
                  <% day_cal = 0 %>
                  <% day_cal += one_cal %>
                <% end %>
              <% else %>
                <% day_cal += one_cal %>
              <% end %>
              <%# 一番最後の例外処理 %>
                <% if i == @intakes.length - 1 %>
                  <% cals_ary << day_cal %>
                <% end %>
              <%# //一番最後の例外処理 %>
            <% end %>
          <% end %>

          <%# 日毎のカロリー集計 %>
          <% for num in 0..(days_ary.length - 1)  do %>
            <%= "#{days_ary[num]}: 合計#{cals_ary[num]}kcal "%><br>
          <% end %>
          <%# //日毎のカロリー集計 %>
        </div>
        <%#// 日毎のカロリー計算 %>
    <%# //メイン画面の内容部分 %>
    </main>
  </div>
</div>
<%= render "shared/footer"%>