<%= render "shared/header"%>

<div class="container-fluid">
  <div class="row">

    <%= render "shared/nav-bar"%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <%= render "shared/intakes_header" %>
    <%# メイン画面の内容部分 %>
      <h2>食事実績登録</h2>
      <%= form_with model: [@menu, @intake], local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div>
        <%= f.label :date %><br />
        <%= f.date_select :date, start_year: 2021, end_year: 2021 %>
      </div>
      <div>
        <%= f.label :timing_id %><br />
        <%= f.collection_select(:timing_id, Timing.all, :id, :name, {}, {}) %>
      </div>
      <div>
        <%= f.label :value_id %><br />
        <%= f.collection_select(:value_id, Value.all, :id, :name, {}, {}) %>
      </div>
      <div>
        <%= f.submit '登録する' %>
      </div>
    <% end %>
    </main>
  </div>
</div>
<%= render "shared/footer"%>